#ignor the files inside assets
/app/assets
/app/.metadata
/.metadata
/.settings
/_
/bin
/conf
/logs
/null
/project
/public
/sbt-dist
/scripts
/target
.classpath
.project
LICENSE
NOTICE
README.md
sbt
sbt.bat